## Passo 1: Instalação da Biblioteca

Antes de mergulhar de cabeça na integração, é necessário instalar a biblioteca Power BI para Python. Você pode fazer isso facilmente executando o seguinte comando no seu Jupyter Notebook:

In [1]:
!poetry add install powerbiclient

The following packages are already present in the pyproject.toml and will be skipped:

  • install
  • powerbiclient

If you want to update it to the latest compatible version, you can use `poetry update package`.
If you prefer to upgrade it to the latest available version, you can use `poetry add package@latest`.

Nothing to add.

## Passo 2: Carregando as Bibliotecas Necessárias

Depois de instalar a biblioteca Power BI, importe as bibliotecas necessárias no seu notebook:

In [1]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication
import pandas as pd

## Passo 3: Carregando os Dados

Carregar seus dados é um passo fundamental. Neste exemplo, carregamos um arquivo Excel como um DataFrame:

In [2]:
!poetry add openpyxl -q

In [2]:
df = pd.read_excel('Financial Sample.xlsx')  # Certifique-se de que o arquivo esteja no diretório raiz

### Visualizando as 5 primeiras linhas do dataframe.

In [3]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

## Passo 4: Autenticação com a Conta do Power BI

Para interagir com o Power BI, você precisa autenticar sua conta. Utilizaremos a autenticação com código de dispositivo, o que torna o processo seguro e conveniente:

In [4]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code B5D4WTTET to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

Siga as instruções para copiar o código gerado e cole-o após acessar o link fornecido. Isso autentica sua conta do Power BI.

## Passo 5: Visualizando seus Dados no Power BI

Agora que seus dados estão prontos e você está autenticado, é hora de criar visualizações no Power BI. O código a seguir faz exatamente isso:

In [17]:
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

## Passo 6: Renderizando o Relatório

Agora você pode renderizar o relatório diretamente no Jupyter Notebook:

In [21]:
PBI_visualize

QuickVisualize()

In [10]:
# Credenciais do Power BI
group_id="24041EF3-E463-4027-A5E6-85DFF3296BF9"
report_id="c252dcb3-8f09-4285-9f09-096a6d814147"

In [15]:
# Instantiate report object with authentication object (e.g DeviceCodeLoginAuthentication)
report = Report(group_id=group_id, report_id=report_id, auth=device_auth)

#Necessário instalar caso ocorram problemas segundo o link https://github.com/matplotlib/ipympl/issues/112:
pip install jupyterlab
pip install ipympl
curl -sL https://deb.nodesource.com/setup_12.x | bash -
apt install nodejs
jupyter labextension install @jupyter-widgets/jupyterlab-manager
jupyter labextension install jupyter-matplotlib

# o que eu fiz no terminal .env para que o embed funcionasse corretamente:
$ sudo apt install npm
$ jupyter labextension install @jupyter-widgets/jupyterlab-manager jupyter-matplotlib

In [13]:
!pip install --upgrade pip
!pip install -U jupyterlab ipywidgets jupyterlab-widgets

Requirement already satisfied: pip in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (24.1)
Requirement already satisfied: jupyterlab in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (3.4.5)
Collecting jupyterlab
  Downloading jupyterlab-4.2.3-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: ipywidgets in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (8.1.3)
Requirement already satisfied: jupyterlab-widgets in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (3.0.11)
Collecting async-lru>=1.0.0 (from jupyterlab)
  Using cached async_lru-2.0.4-py3-none-any.whl.metadata (4.5 kB)
Collecting httpx>=0.25.0 (from jupyterlab)
  Using cached httpx-0.27.0-py3-none-any.whl.metadata (7.2 kB)
Requirement already satisfied: ipykernel>=6.5.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (6.29.4)
Requirement already satisfied: jinja2>=3.0.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (3.1.4)
Requirement already satisfied: jupyter-core in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (5.7.2)
Collecting jupyter-lsp>=2.0.0 (from jupyterlab)
  Using cached jupyter_lsp-2.2.5-py3-none-any.whl.metadata (1.8 kB)
Collecting jupyter-server<3,>=2.4.0 (from jupyterlab)
  Downloading jupyter_server-2.14.1-py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (2.27.2)
Requirement already satisfied: notebook-shim>=0.2 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (0.2.4)
Requirement already satisfied: packaging in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (24.1)
Requirement already satisfied: setuptools>=40.1.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (69.5.1)
Requirement already satisfied: tornado>=6.2.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (6.4.1)
Requirement already satisfied: traitlets in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab) (5.14.3)
Requirement already satisfied: comm>=0.1.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipywidgets) (8.25.0)
Requirement already satisfied: widgetsnbextension~=4.0.11 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipywidgets) (4.0.11)
Requirement already satisfied: anyio in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab) (3.7.1)
Requirement already satisfied: certifi in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab) (2024.6.2)
Collecting httpcore==1.* (from httpx>=0.25.0->jupyterlab)
  Using cached httpcore-1.0.5-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: idna in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab) (3.7)
Requirement already satisfied: sniffio in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from httpx>=0.25.0->jupyterlab) (1.3.1)
Collecting h11<0.15,>=0.13 (from httpcore==1.*->httpx>=0.25.0->jupyterlab)
  Using cached h11-0.14.0-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: debugpy>=1.6.5 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipykernel>=6.5.0->jupyterlab) (1.8.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipykernel>=6.5.0->jupyterlab) (8.6.2)
Requirement already satisfied: matplotlib-inline>=0.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipykernel>=6.5.0->jupyterlab) (0.1.7)
Requirement already satisfied: nest-asyncio in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipykernel>=6.5.0->jupyterlab) (1.6.0)
Requirement already satisfied: psutil in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipykernel>=6.5.0->jupyterlab) (6.0.0)
Requirement already satisfied: pyzmq>=24 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipykernel>=6.5.0->jupyterlab) (26.0.3)
Requirement already satisfied: decorator in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (2.18.0)
Requirement already satisfied: stack-data in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: pexpect>4.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython>=6.1.0->ipywidgets) (4.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jinja2>=3.0.3->jupyterlab) (2.1.5)
Requirement already satisfied: platformdirs>=2.5 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-core->jupyterlab) (4.2.2)
Requirement already satisfied: argon2-cffi>=21.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (23.1.0)
Collecting jupyter-events>=0.9.0 (from jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached jupyter_events-0.10.0-py3-none-any.whl.metadata (5.9 kB)
Collecting jupyter-server-terminals>=0.4.4 (from jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached jupyter_server_terminals-0.5.3-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: nbconvert>=6.4.4 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (7.16.4)
Requirement already satisfied: nbformat>=5.3.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (5.10.4)
Collecting overrides>=5.0 (from jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached overrides-7.7.0-py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: prometheus-client>=0.9 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (0.20.0)
Requirement already satisfied: send2trash>=1.8.2 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab) (1.8.0)
Requirement already satisfied: babel>=2.10 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab) (2.15.0)
Requirement already satisfied: json5>=0.9.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab) (0.9.25)
Requirement already satisfied: jsonschema>=4.18.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab) (4.22.0)
Requirement already satisfied: requests>=2.31 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab) (2.32.3)
Requirement already satisfied: argon2-cffi-bindings in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab) (21.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: attrs>=22.2.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab) (0.18.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jupyter-client>=6.1.12->ipykernel>=6.5.0->jupyterlab) (2.9.0.post0)
Collecting python-json-logger>=2.0.4 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached python_json_logger-2.0.7-py3-none-any.whl.metadata (6.5 kB)
Collecting pyyaml>=5.3 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Downloading PyYAML-6.0.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.1 kB)
Collecting rfc3339-validator (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached rfc3339_validator-0.1.4-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting rfc3986-validator>=0.1.1 (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached rfc3986_validator-0.1.1-py2.py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: beautifulsoup4 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (6.1.0)
Requirement already satisfied: defusedxml in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (0.3.0)
Requirement already satisfied: mistune<4,>=2.0.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (0.10.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (1.5.1)
Requirement already satisfied: tinycss2 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (1.3.0)
Requirement already satisfied: fastjsonschema>=2.15 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->jupyterlab) (2.20.0)
Requirement already satisfied: ptyprocess>=0.5 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: wcwidth in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab) (3.3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab) (1.26.19)
Requirement already satisfied: executing>=1.2.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.4.1)
Requirement already satisfied: pure-eval in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six>=1.12.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from asttokens>=2.1.0->stack-data->ipython>=6.1.0->ipywidgets) (1.16.0)
Requirement already satisfied: webencodings in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from bleach!=5.0.0->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (0.5.1)
Collecting fqdn (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached fqdn-1.5.1-py3-none-any.whl.metadata (1.4 kB)
Collecting isoduration (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached isoduration-20.11.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jsonpointer>1.13 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab) (3.0.0)
Collecting uri-template (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached uri_template-1.3.0-py3-none-any.whl.metadata (8.8 kB)
Collecting webcolors>=1.11 (from jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Downloading webcolors-24.6.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: cffi>=1.0.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab) (1.16.0)
Requirement already satisfied: soupsieve>1.2 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->jupyterlab) (2.5)
Requirement already satisfied: pycparser in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab) (2.22)
Collecting arrow>=0.15.0 (from isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached arrow-1.3.0-py3-none-any.whl.metadata (7.5 kB)
Collecting types-python-dateutil>=2.8.10 (from arrow>=0.15.0->isoduration->jsonschema[format-nongpl]>=4.18.0->jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab)
  Using cached types_python_dateutil-2.9.0.20240316-py3-none-any.whl.metadata (1.8 kB)
Downloading jupyterlab-4.2.3-py3-none-any.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 11.1 MB/s eta 0:00:00m eta 0:00:010:01:01
Using cached async_lru-2.0.4-py3-none-any.whl (6.1 kB)
Using cached httpx-0.27.0-py3-none-any.whl (75 kB)
Using cached httpcore-1.0.5-py3-none-any.whl (77 kB)
Using cached jupyter_lsp-2.2.5-py3-none-any.whl (69 kB)
Downloading jupyter_server-2.14.1-py3-none-any.whl (383 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 383.4/383.4 kB 8.8 MB/s eta 0:00:000m eta 0:00:01
Using cached jupyter_events-0.10.0-py3-none-any.whl (18 kB)
Using cached jupyter_server_terminals-0.5.3-py3-none-any.whl (13 kB)
Using cached overrides-7.7.0-py3-none-any.whl (17 kB)
Using cached h11-0.14.0-py3-none-any.whl (58 kB)
Using cached python_json_logger-2.0.7-py3-none-any.whl (8.1 kB)
Downloading PyYAML-6.0.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (724 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 725.0/725.0 kB 8.3 MB/s eta 0:00:004 MB/s eta 0:00:01
Using cached rfc3986_validator-0.1.1-py2.py3-none-any.whl (4.2 kB)
Using cached rfc3339_validator-0.1.4-py2.py3-none-any.whl (3.5 kB)
Downloading webcolors-24.6.0-py3-none-any.whl (14 kB)
Using cached fqdn-1.5.1-py3-none-any.whl (9.1 kB)
Using cached isoduration-20.11.0-py3-none-any.whl (11 kB)
Using cached uri_template-1.3.0-py3-none-any.whl (11 kB)
Using cached arrow-1.3.0-py3-none-any.whl (66 kB)
Using cached types_python_dateutil-2.9.0.20240316-py3-none-any.whl (9.7 kB)

In [15]:
!pip install ipympl==0.9.3

Requirement already satisfied: ipympl==0.9.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (0.9.3)
Requirement already satisfied: ipython<9 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipympl==0.9.3) (8.25.0)
Requirement already satisfied: numpy in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipympl==0.9.3) (2.0.0)
Requirement already satisfied: ipython-genutils in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipympl==0.9.3) (0.2.0)
Requirement already satisfied: pillow in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipympl==0.9.3) (10.3.0)
Requirement already satisfied: traitlets<6 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipympl==0.9.3) (5.14.3)
Requirement already satisfied: ipywidgets<9,>=7.6.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipympl==0.9.3) (8.1.3)
Requirement already satisfied: matplotlib<4,>=3.4.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipympl==0.9.3) (3.9.0)
Requirement already satisfied: decorator in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython<9->ipympl==0.9.3) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython<9->ipympl==0.9.3) (0.19.1)
Requirement already satisfied: matplotlib-inline in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython<9->ipympl==0.9.3) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython<9->ipympl==0.9.3) (3.0.47)
Requirement already satisfied: pygments>=2.4.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython<9->ipympl==0.9.3) (2.18.0)
Requirement already satisfied: stack-data in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython<9->ipympl==0.9.3) (0.6.3)
Requirement already satisfied: pexpect>4.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipython<9->ipympl==0.9.3) (4.9.0)
Requirement already satisfied: comm>=0.1.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipywidgets<9,>=7.6.0->ipympl==0.9.3) (0.2.2)
Requirement already satisfied: widgetsnbextension~=4.0.11 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipywidgets<9,>=7.6.0->ipympl==0.9.3) (4.0.11)
Requirement already satisfied: jupyterlab-widgets~=3.0.11 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from ipywidgets<9,>=7.6.0->ipympl==0.9.3) (3.0.11)
Requirement already satisfied: contourpy>=1.0.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from matplotlib<4,>=3.4.0->ipympl==0.9.3) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from matplotlib<4,>=3.4.0->ipympl==0.9.3) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from matplotlib<4,>=3.4.0->ipympl==0.9.3) (4.53.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from matplotlib<4,>=3.4.0->ipympl==0.9.3) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from matplotlib<4,>=3.4.0->ipympl==0.9.3) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from matplotlib<4,>=3.4.0->ipympl==0.9.3) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from matplotlib<4,>=3.4.0->ipympl==0.9.3) (2.9.0.post0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from jedi>=0.16->ipython<9->ipympl==0.9.3) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from pexpect>4.3->ipython<9->ipympl==0.9.3) (0.7.0)
Requirement already satisfied: wcwidth in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython<9->ipympl==0.9.3) (0.2.13)
Requirement already satisfied: six>=1.5 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib<4,>=3.4.0->ipympl==0.9.3) (1.16.0)
Requirement already satisfied: executing>=1.2.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from stack-data->ipython<9->ipympl==0.9.3) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from stack-data->ipython<9->ipympl==0.9.3) (2.4.1)
Requirement already satisfied: pure-eval in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (from stack-data->ipython<9->ipympl==0.9.3) (0.2.2)

In [9]:
!poetry add pandas

Using version ^2.2.2 for pandas

Updating dependencies
Resolving dependencies... (0.9s)

No dependencies to install or update

Writing lock file

In [19]:
!pip install jupyterlab-widgets==1.1.1

Collecting jupyterlab-widgets==1.1.1
  Using cached jupyterlab_widgets-1.1.1-py3-none-any.whl.metadata (3.7 kB)
Using cached jupyterlab_widgets-1.1.1-py3-none-any.whl (245 kB)
Installing collected packages: jupyterlab-widgets
  Attempting uninstall: jupyterlab-widgets
    Found existing installation: jupyterlab_widgets 3.0.11
    Uninstalling jupyterlab_widgets-3.0.11:
      Successfully uninstalled jupyterlab_widgets-3.0.11
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipywidgets 8.1.3 requires jupyterlab-widgets~=3.0.11, but you have jupyterlab-widgets 1.1.1 which is incompatible.
Successfully installed jupyterlab-widgets-1.1.1

In [ ]:
!pip install ipywidgets==7.7

In [ ]:
!pip install powerbiclient
!jupyter labextension install @jupyter-widgets/jupyterlab-manager

In [ ]:
!jupyter nbextension enable --py [--sys-prefix|--user|--system] powerbiclient

# Passos para executar fórmulas DAX no Jupyter Notebook

## 1.Importar as bibliotecas:

In [2]:
# Credenciais do Power BI
# workspace_id = 'seu_workspace_id'  # Substitua pelo seu Workspace ID
# group_id = 'seu_group_id'  # Substitua pelo seu Group ID
report_id = '247db1d9-285d-4071-94df-9817bff0d9aa'  # Substitua pelo seu Report ID

## 2. Realizar a autenticação no Power Bi:

In [7]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code E9KD24TDQ to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

## 2. Obter o token de acesso:

In [8]:
token = device_auth.get_access_token()
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {token}'
}

## 3. Enviar as consulta DAX:

* **Defina a URL da consulta:**

In [11]:
dataset_id = '0a992292-09c2-45c6-bc9a-f9a66a8ccdc5'
url = f'https://api.powerbi.com/v1.0/myorg/datasets/{dataset_id}/executeQueries'

* **Defina a Consulta DAX:**

In [12]:
dax_query = {
    "queries": [
        {
            "query": "EVALUATE SUMMARIZECOLUMNS('Table'[Product])"
        }
    ],
    "serializerSettings": {
        "includeNulls": True
    }
}

* **Envie a Consulta e Obtenho os resultados**:

In [13]:
response = requests.post(url, headers=headers, json=dax_query)
response_data = response.json()

## 4. Processar os resultados:

* **Convertendo o resultado em um DataFrame do Pandas:**

In [14]:
results = response_data['results'][0]['tables'][0]['rows']
df = pd.DataFrame(results)
display(df)

  Table[Product]
0      Carretera
1        Montana
2          Paseo
3           Velo
4            VTT
5       Amarilla

link da documentação:[documentação]('https://learn.microsoft.com/en-us/rest/api/power-bi/datasets/execute-queries')

# Integração do data.world com python:

## Instalação da biblioteca:

In [16]:
!pip install datadotworld -q

## Configuração:

### Esta biblioteca requer um token de autenticação da API data.world para funcionar.
Seu token de autenticação pode ser obtido no data.world depois que você habilitar o [Python em Integrações]('https://data.world/integrations/python')

* **Para configurar a biblioteca, execute o seguinte comando:**

$ dw configure

* Alternativamente, os tokens podem ser fornecidos por meio da variável de ambiente DW_AUTH_TOKEN . Em máquinas MacOS ou Unix, execute (substituindo <YOUR_TOKEN>> abaixo pelo token obtido anteriormente):
`export DW_AUTH_TOKEN=<YOUR_TOKEN>`

### Carregar um conjunto de dados

In [5]:
import datadotworld as dw

In [6]:
intro_dataset = dw.load_dataset('jcnok/financial-sample')

ValueError: time data '2024-06-26T17:56:49.007319092Z' does not match format '%Y-%m-%dT%H:%M:%S.%fZ'

In [23]:
intro_dataset.dataframes

LazyLoadedDict({'financial_sample': LazyLoadedValue(<pandas.DataFrame>)})

* **Você também pode revisar os metadados associados a um arquivo ou ao conjunto de dados inteiro, usando a função describe . Por exemplo:**

In [24]:
intro_dataset.describe()

{'name': 'jcnok_financial-sample',
 'title': 'Financial Sample',
 'description': 'O conjunto de dados "financial sample.xlsx" é um arquivo que contém informações financeiras.\n\n---\n{"editor":"markdown"}\n---\nAqui estão as colunas do conjunto de dados e suas respectivas descrições:\n\n1. **Segment (Segmento)**\n   - Descrição: O segmento de mercado ao qual o produto pertence.\n   \n2. **Country (País)**\n   - Descrição: O país onde a venda foi realizada.\n\n3. **Product (Produto)**\n   - Descrição: O nome do produto vendido.\n\n4. **Discount Band (Banda de Desconto)**\n   - Descrição: Corresponde a classificação do desconto, High(alto), Medium(médio), Low(baixo), None(sem desconto)\n\n5. **Units Sold (Unidades Vendidas)**\n   - Descrição: O número de unidades do produto vendidas.\n\n6. **Manufacturing Price (Preço de Fabricação)**\n   - Descrição: O custo de fabricação de uma unidade do produto.\n\n7. **Sale Price (Preço de Venda)**\n   - Descrição: O preço de venda de uma unidade do produto.\n\n8. **Gross Sales (Vendas Brutas)**\n   - Descrição: A receita bruta gerada pelas vendas (Unidades Vendidas * Preço de Venda).\n\n9. **Discounts (Descontos)**\n   - Descrição: O valor total de descontos aplicados às vendas.\n\n10. **Sales (Vendas)**\n    - Descrição: A receita líquida gerada pelas vendas (Vendas Brutas - Descontos).\n\n11. **COGS (Custo dos Produtos Vendidos)**\n    - Descrição: O custo dos produtos vendidos, é o custo total de fabricação ou compra de um produto que uma empresa vende. Inclui o custo dos materiais, mão de obra e outras despesas diretamente relacionadas à produção do produto.\n\n12. **Profit (Lucro)**\n    - Descrição: O lucro gerado pelas vendas (Vendas - Custo dos Bens Vendidos).\n\n13. **Date (Data)**\n    - Descrição: A data em que a venda foi realizada.\n    \n14. **Month Number (Mês em Número)**\n    - Descrição: Mês em número em que a venda foi realizada.\n    \n15. **Month Name (Mês)**\n    - Descrição: Mês em que a venda foi realizada.\n\n16. **Year (Ano)**\n    - Descrição: Ano em que a venda foi realizada.',
 'homepage': 'https://data.world/jcnok/financial-sample',
 'resources': [{'name': 'financial_sample',
   'path': 'data/financial_sample.csv',
   'format': 'csv',
   'profile': 'data-resource'},
  {'name': 'original/Financial Sample.xlsx',
   'path': 'original/Financial Sample.xlsx',
   'format': 'xlsx',
   'mediatype': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
   'bytes': 83418,
   'profile': 'data-resource'}],
 'profile': 'data-package'}

### Consultar um conjunto de dados:

* A função query() permite que conjuntos de dados sejam consultados ao vivo usando linguagens de consulta SQL ou SPARQL .

* Para consultar um conjunto de dados, invoque a função query() . Por exemplo:

In [29]:
results = dw.query('jcnok/financial-sample', 'SELECT * FROM financial_sample')

In [30]:
results.dataframe

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

Link para criar a conta: [data.world]('https://data.world/')
Link para obter o token: [token api datadotworld]('https://data.world/integrations/python')
Documentação da API: [Datadotworld]('https://pypi.org/project/datadotworld/')

# Passos para integrar data.world com Power BI no Jupyter Notebook

## 1. Configurar a API do data.world:

* Primeiro, você precisará de um token de API do data.world. Você pode obter isso acessando sua conta no data.world e navegando até as configurações de API.
* Em seguida, defina seu token de API:

In [70]:
DW_API_TOKEN = "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Ompjbm9rIiwiaXNzIjoiYWdlbnQ6amNub2s6OjI2ZjlmOWJiLWIyMWYtNDA2NC1hZjg2LWU5YzUwYzVjYzk4NyIsImlhdCI6MTcxNjMyNjY5Miwicm9sZSI6WyJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlLCJzYW1sIjp7fX0.jRIpeL1UXDLRD7fcjmKhUopKX5bwDFBVnmOk9NMpnMJqeTmJ8Y9SVuiIsMN7orDQMAS7SCGe6lp18xarQEhCkw"

## 2. Importar as bibliotecas necessárias:

In [32]:
import requests
import pandas as pd
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from powerbiclient import Report, models

## 3. Autenticar no Power BI:

In [33]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code FXYFJJTCF to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

## 4. Obter dados do data.world:

### Conhecendo o dataset:

In [150]:
import requests

url = "https://api.data.world/v0/datasets/jcnok/financial-sample"

headers = {
    "accept": "application/json",
    "authorization": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Ompjbm9rIiwiaXNzIjoiYWdlbnQ6amNub2s6OjI2ZjlmOWJiLWIyMWYtNDA2NC1hZjg2LWU5YzUwYzVjYzk4NyIsImlhdCI6MTcxNjMyNjY5Miwicm9sZSI6WyJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlLCJzYW1sIjp7fX0.jRIpeL1UXDLRD7fcjmKhUopKX5bwDFBVnmOk9NMpnMJqeTmJ8Y9SVuiIsMN7orDQMAS7SCGe6lp18xarQEhCkw"
}

response = requests.get(url, headers=headers)

print(response.json()['summary'])

---
{"editor":"markdown"}
---
Aqui estão as colunas do conjunto de dados e suas respectivas descrições:

1. **Segment (Segmento)**
   - Descrição: O segmento de mercado ao qual o produto pertence.

2. **Country (País)**
   - Descrição: O país onde a venda foi realizada.

3. **Product (Produto)**
   - Descrição: O nome do produto vendido.

4. **Discount Band (Banda de Desconto)**
   - Descrição: Corresponde a classificação do desconto, High(alto), Medium(médio), Low(baixo), None(sem desconto)

5. **Units Sold (Unidades Vendidas)**
   - Descrição: O número de unidades do produto vendidas.

6. **Manufacturing Price (Preço de Fabricação)**
   - Descrição: O custo de fabricação de uma unidade do produto.

7. **Sale Price (Preço de Venda)**
   - Descrição: O preço de venda de uma unidade do produto.

8. **Gross Sales (Vendas Brutas)**
   - Descrição: A receita bruta gerada pelas vendas (Unidades Vendidas * Preço de Venda).

9. **Discounts (Descontos)**
   - Descrição: O valor total de descontos aplicados às vendas.

10. **Sales (Vendas)**
    - Descrição: A receita líquida gerada pelas vendas (Vendas Brutas - Descontos).

11. **COGS (Custo dos Produtos Vendidos)**
    - Descrição: O custo dos produtos vendidos, é o custo total de fabricação ou compra de um produto que uma empresa vende. Inclui o custo dos materiais, mão de obra e outras despesas diretamente relacionadas à produção do produto.

12. **Profit (Lucro)**
    - Descrição: O lucro gerado pelas vendas (Vendas - Custo dos Bens Vendidos).

13. **Date (Data)**
    - Descrição: A data em que a venda foi realizada.

14. **Month Number (Mês em Número)**
    - Descrição: Mês em número em que a venda foi realizada.

15. **Month Name (Mês)**
    - Descrição: Mês em que a venda foi realizada.

16. **Year (Ano)**
    - Descrição: Ano em que a venda foi realizada.

* Defina a URL e os cabeçalhos da solicitação:

In [151]:
url = "https://api.data.world/v0/sql/jcnok/financial-sample?dialect=DW_SQL"
headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "authorization": f'Bearer {DW_API_TOKEN}'
}

* Defina a consulta SQL que deseja executar:

In [152]:
query = {'query':'SELECT * FROM financial_sample'}

* Envie a solicitação e obtenha os resultados:

In [153]:
response = requests.post(url, json=payload, headers=headers)

data = response.json()
df = pd.json_normalize(data)
display(df)

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Channel Partners,Canada,Montana,None,2518.0,5,12,30216.0,0.00,30216.00,7554.0,22662.00,2014-06-01,6,June,2014
4,Government,France,Montana,None,1899.0,5,20,37980.0,0.00,37980.00,18990.0,18990.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Enterprise,France,Carretera,High,2441.0,3,125,305125.0,33563.75,271561.25,292920.0,-21358.75,2014-10-01,10,October,2014
696,Midmarket,Canada,Carretera,High,1560.0,3,15,23400.0,2574.00,20826.00,15600.0,5226.00,2013-11-01,11,November,2013
697,Government,Mexico,Carretera,High,2706.0,3,7,18942.0,2083.62,16858.38,13530.0,3328.38,2013-11-01,11,November,2013
698,Government,Germany,Montana,High,766.0,5,350,268100.0,29491.00,238609.00,199160.0,39449.00,2014-01-01,1,January,2014
699,Government,Germany,Montana,High,2992.0,5,20,59840.0,6582.40,53257.60,29920.0,23337.60,2013-10-01,10,October,2013

## 5. Incorporar o dataframe no Power BI:

* **Carregando as bibliotecas:**

In [155]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication
import pandas as pd

* **Criando uma visualização de forma automática com o QuickVisualize**:

In [156]:
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)
PBI_visualize

QuickVisualize()

* **Clique no ícone de salvar para salver o dash no powerbi online:**

In [158]:
PBI_visualize

QuickVisualize()

## Enviar as consulta DAX:

* **Obtendo o token de acesso:**

In [242]:
token = device_auth.get_access_token()
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {token}'
}

* **Defina a URL da consulta:**

In [243]:
dataset_id = 'edf35402-a994-4111-b4a3-65b644fb25de'
url = f'https://api.powerbi.com/v1.0/myorg/datasets/{dataset_id}/executeQueries'

* **Defina a Consulta DAX:**

In [186]:
dax_query = {
    "queries": [
        {
            "query": "EVALUATE SUMMARIZECOLUMNS('Table'[Product])"
        }
    ],
    "serializerSettings": {
        "includeNulls": True
    }
}

* **Envie a Consulta e Obtenho os resultados**:

In [187]:
response = requests.post(url, headers=headers, json=dax_query)
response_data = response.json()

* **Convertendo o resultado em um DataFrame do Pandas:**

In [188]:
results = response_data['results'][0]['tables'][0]['rows']
df = pd.DataFrame(results)
display(df)

  Table[product]
0      Carretera
1        Montana
2          Paseo
3           Velo
4            VTT
5       Amarilla

link da documentação:[documentação]('https://learn.microsoft.com/en-us/rest/api/power-bi/datasets/execute-queries')

In [252]:
dax_query = {
    "queries": [
        {
            "query": "EVALUATE CALCULATE(AVERAGE('Table'[Discounts]))"
        }
    ],
    "serializerSettings": {
        "includeNulls": True
    }
}

In [253]:
response = requests.post(url, headers=headers, json=dax_query)
response_data = response.json()
#results = response_data['results'][0]['tables'][0]['rows']
response_data
#df = pd.DataFrame(results)
#display(df)

{'error': {'code': 'DatasetExecuteQueriesError',
  'pbi.error': {'code': 'DatasetExecuteQueriesError',
   'parameters': {},
   'details': [{'code': 'DetailsMessage',
     'detail': {'type': 1,
      'value': 'Query (1, 1) The expression specified in the query is not a valid table expression.'}},
    {'code': 'AnalysisServicesErrorCode',
     'detail': {'type': 1, 'value': '3241803862'}}]}}}

EVALUATE CALCULATETABLE(ADDCOLUMNS(financials, "media", AVERAGE(financials[ Sales])))

In [254]:
# Lista de consultas DAX
dax_queries = [
    {"query": "EVALUATE CALCULATETABLE(SUMMARIZE('Table', 'Table'[Segment], 'Table'[Gross_Sales]), ALLEXCEPT('Table', 'Table'[Segment]))"},
    {"query": "EVALUATE CALCULATETABLE(SUMMARIZE('Table', 'Table'[Segment], 'Table'[Discounts]), ALLEXCEPT('Table', 'Table'[Segment]))"},
    {"query": "EVALUATE CALCULATETABLE(SUMMARIZE('Table', 'Table'[Segment], 'Table'[Sales]), ALLEXCEPT('Table', 'Table'[Segment]))"},
    {"query": "EVALUATE CALCULATETABLE(SUMMARIZE('Table', 'Table'[Segment], 'Table'[COGS]), ALLEXCEPT('Table', 'Table'[Segment]))"},
    {"query": "EVALUATE CALCULATETABLE(SUMMARIZE('Table', 'Table'[Segment], 'Table'[Profit]), ALLEXCEPT('Table', 'Table'[Segment]))"},
    {"query": "EVALUATE CALCULATETABLE(SUMMARIZE('Table', 'Table'[Segment], 'Table'[Units_Sold]), ALLEXCEPT('Table', 'Table'[Segment]))"},
    {"query": "EVALUATE ROW(\"Average Sale Price\", CALCULATE(AVERAGE('Table'[Sale_Price])))"},
    {"query": "EVALUATE ROW(\"Average Profit per Unit Sold\", CALCULATE(AVERAGE('Table'[Profit]) / AVERAGE('Table'[Units_Sold])))"},
    {"query": "EVALUATE ROW(\"Average Discounts\", CALCULATE(AVERAGE('Table'[Discounts])))"},
    {"query": "EVALUATE SUMMARIZECOLUMNS('Table'[Segment], 'Table'[Sales])"}
]

# Função para executar consultas DAX e retornar DataFrame
def execute_dax_query(dax_query, headers, url):
    response = requests.post(url, headers=headers, json={"queries": [dax_query], "serializerSettings": {"includeNulls": True}})
    response_data = response.json()
    results = response_data['results'][0]['tables'][0]['rows']
    df = pd.DataFrame(results)
    return df

# Executar consultas e exibir resultados
for dax_query in dax_queries:
    df = execute_dax_query(dax_query, headers, url)
    display(df)

       Table[segment]  Table[gross_sales]
0          Government             15022.0
1          Government              6181.0
2          Government              8001.0
3          Government             10451.0
4          Government             11802.0
..                ...                 ...
545    Small Business            769500.0
546         Midmarket             55125.0
547    Small Business            397200.0
548  Channel Partners             21300.0
549    Small Business            177300.0

[550 rows x 2 columns]

       Table[segment]  Table[discounts]
0          Government              0.00
1           Midmarket              0.00
2    Channel Partners              0.00
3          Enterprise              0.00
4      Small Business              0.00
..                ...               ...
515        Government          30492.00
516    Small Business          92763.00
517         Midmarket           2574.00
518        Government           2083.62
519        Government          29491.00

[520 rows x 2 columns]

       Table[segment]  Table[sales]
0          Government      32370.00
1          Government      26420.00
2           Midmarket      32670.00
3    Channel Partners      30216.00
4          Government      37980.00
..                ...           ...
555        Government     246708.00
556    Small Business     750537.00
557         Midmarket      20826.00
558        Government      16858.38
559        Government     238609.00

[560 rows x 2 columns]

       Table[segment]  Table[cogs]
0          Government      10730.0
1          Government       4415.0
2          Government       5715.0
3          Government       7465.0
4          Government       8430.0
..                ...          ...
542    Small Business     641250.0
543         Midmarket      36750.0
544    Small Business     331000.0
545  Channel Partners       5325.0
546    Small Business     147750.0

[547 rows x 2 columns]

       Table[segment]  Table[profit]
0          Government       16185.00
1          Government       13210.00
2           Midmarket       10890.00
3    Channel Partners       22662.00
4          Government       18990.00
..                ...            ...
552        Government       40788.00
553    Small Business       47787.00
554         Midmarket        5226.00
555        Government        3328.38
556        Government       39449.00

[557 rows x 2 columns]

       Table[segment]  Table[units_sold]
0          Government             2146.0
1          Government              883.0
2          Government             1143.0
3          Government             1493.0
4          Government             1686.0
..                ...                ...
539    Small Business             2565.0
540         Midmarket             3675.0
541    Small Business             1324.0
542  Channel Partners             1775.0
543    Small Business              591.0

[544 rows x 2 columns]

   [Average Sale Price]
0            118.428571

   [Average Profit per Unit Sold]
0                       15.005873

   [Average Discounts]
0         13150.354629

       Table[segment]  Table[sales]
0          Government      32370.00
1          Government      26420.00
2           Midmarket      32670.00
3    Channel Partners      30216.00
4          Government      37980.00
..                ...           ...
555        Government     246708.00
556    Small Business     750537.00
557         Midmarket      20826.00
558        Government      16858.38
559        Government     238609.00

[560 rows x 2 columns]

## Para Criar Fórmulas em DAX no jupyter e salvar no Power Bi , vamos seguir os passos abaixo:

### Passo 1: Configurar o Ambiente

* Certifique-se de que todas as bibliotecas necessárias estejam instaladas.

```sh
pip install pandas requests powerbiclient matplotlib
```

### Passo 2: Importar as Bibliotecas

No Jupyter Notebook, importe as bibliotecas necessárias.

In [256]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
from powerbiclient import Report, models
from powerbiclient.authentication import DeviceCodeLoginAuthentication

### Passo 3: Autenticação no Power BI

Autentique-se no Power BI.

In [257]:
device_auth = DeviceCodeLoginAuthentication()
token = device_auth.get_access_token()
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {token}'
}

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code AQFTF57GQ to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

### Passo 4: Definir Consultas DAX

Defina as consultas DAX que serão utilizadas para extrair os KPIs do dataset.

In [324]:
dax_queries = [
    {"query": "EVALUATE SUMMARIZECOLUMNS('Table'[Segment], 'Table'[Gross_Sales])"},
    {"query": "EVALUATE SUMMARIZECOLUMNS('Table'[Segment], 'Table'[Discounts])"},
    {"query": "EVALUATE SUMMARIZECOLUMNS('Table'[Segment], 'Table'[Sales])"},
    {"query": "EVALUATE SUMMARIZECOLUMNS('Table'[Segment], 'Table'[COGS])"},
    {"query": "EVALUATE SUMMARIZECOLUMNS('Table'[Segment], 'Table'[Profit])"},
    {"query": "EVALUATE SUMMARIZECOLUMNS('Table'[Segment], 'Table'[Units_Sold])"},
    {"query": "EVALUATE ROW(\"Average Sale Price\", CALCULATE(AVERAGE('Table'[Sale_Price])))"},
    {"query": "EVALUATE ROW(\"Average Profit per Unit Sold\", CALCULATE(AVERAGE('Table'[Profit]) / AVERAGE('Table'[Units_Sold])))"},
    {"query": "EVALUATE ROW(\"Average Discounts\", CALCULATE(AVERAGE('Table'[Discounts])))"}
]

### Passo 5: Executar Consultas DAX e Obter Resultados

Crie uma função para executar as consultas DAX e retornar os resultados em um DataFrame do Pandas.

In [325]:

def execute_dax_query(dax_query, headers, url):
    response = requests.post(url, headers=headers, json={"queries": [dax_query], "serializerSettings": {"includeNulls": True}})
    response_data = response.json()
    results = response_data['results'][0]['tables'][0]['rows']
    df = pd.DataFrame(results)
    return df

### Passo 6: Executar as Consultas e Armazenar os Resultados

Defina o ID do dataset e a URL da consulta, e execute as consultas DAX.

In [326]:
dataset_id = 'edf35402-a994-4111-b4a3-65b644fb25de'
url = f'https://api.powerbi.com/v1.0/myorg/datasets/{dataset_id}/executeQueries'

dfs = []
for dax_query in dax_queries:
    df = execute_dax_query(dax_query, headers, url)
    dfs.append(df)

### Passo 7: Criar Visualizações com QuickVisualize Power BI

Agora, vamos criar algumas visualizações usando `QuickVisualize` e exibi-las no Jupyter Notebook.

#### Exemplo de Visualização: Gráfico de Barras para Vendas Brutas por Segmento

In [327]:
PBI_visualize = QuickVisualize(get_dataset_config(dfs[0]), auth=device_auth)
PBI_visualize

QuickVisualize()

#### Exemplo de Visualização: Gráfico de Barras para Descontos por Segmento

In [329]:
PBI_visualize = QuickVisualize(get_dataset_config(dfs[1]), auth=device_auth)
PBI_visualize

QuickVisualize()

#### Exemplo de Visualização: Gráfico de Barras para Vendas por Segmento

In [330]:
PBI_visualize = QuickVisualize(get_dataset_config(dfs[2]), auth=device_auth)
PBI_visualize

QuickVisualize()

#### Exemplo de Visualização: Gráfico de Barras para Cost of Goods Sold(COGS) por Segmento
* Também conhecido como Custo dos Produtos Vendidos.

In [333]:
PBI_visualize = QuickVisualize(get_dataset_config(dfs[3]), auth=device_auth)
PBI_visualize

QuickVisualize()

#### Exemplo de Visualização: Gráfico de Barras para Lucro por Segmento

In [334]:
PBI_visualize = QuickVisualize(get_dataset_config(dfs[4]), auth=device_auth)
PBI_visualize

QuickVisualize()

#### Exemplo de Visualização: Gráfico de Barras para Unidades Vendidas por Segmento

In [335]:
PBI_visualize = QuickVisualize(get_dataset_config(dfs[5]), auth=device_auth)
PBI_visualize

QuickVisualize()

#### Exemplo de Visualização: Dashboard KPIs(desconto médio, lucro médio por unidade, preço médio de vendas)

In [337]:
# Unindo as 3 KPIs
kpi = dfs[6].join([dfs[7], dfs[8]])

In [339]:
# visualizando o join
kpi

   [Average Sale Price]  [Average Profit per Unit Sold]  [Average Discounts]
0            118.428571                       15.005873         13150.354629

In [338]:
# Realizando a vizualização rápida.
PBI_visualize = QuickVisualize(get_dataset_config(kpi), auth=device_auth)
PBI_visualize

QuickVisualize()

### Criando e Salvando uma consulta no data.world

In [99]:
import requests

url = "https://api.data.world/v0/datasets/jcnok/financial-sample/queries"

payload = {
    "language": "SQL",
    "content": "select * from financial_sample",
    "description": "consultando todo o dataset",
    "name": "select_all"
}
headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "authorization": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Ompjbm9rIiwiaXNzIjoiYWdlbnQ6amNub2s6OjI2ZjlmOWJiLWIyMWYtNDA2NC1hZjg2LWU5YzUwYzVjYzk4NyIsImlhdCI6MTcxNjMyNjY5Miwicm9sZSI6WyJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlLCJzYW1sIjp7fX0.jRIpeL1UXDLRD7fcjmKhUopKX5bwDFBVnmOk9NMpnMJqeTmJ8Y9SVuiIsMN7orDQMAS7SCGe6lp18xarQEhCkw"
}

response = requests.post(url, json=payload, headers=headers)

response.json()

{'id': '4a439585-dcce-4119-b811-fe85008f672a',
 'owner': 'jcnok',
 'language': 'SQL',
 'name': 'select_all',
 'body': 'select * from financial_sample',
 'description': 'consultando todo o dataset',
 'version': 'd74bdd17-1',
 'created': '2024-06-26T03:43:40.357955320Z',
 'updated': '2024-06-26T03:43:40.353954331Z',
 'parameters': {}}

### Recuperando a consulta sql salva no data.world.

In [96]:
import requests

url = "https://api.data.world/v0/queries/d2c46d5a-d4c5-4e7a-8387-9963e556d914/results"

headers = {
    "accept": "application/json",
    "authorization": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Ompjbm9rIiwiaXNzIjoiYWdlbnQ6amNub2s6OjI2ZjlmOWJiLWIyMWYtNDA2NC1hZjg2LWU5YzUwYzVjYzk4NyIsImlhdCI6MTcxNjMyNjY5Miwicm9sZSI6WyJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlLCJzYW1sIjp7fX0.jRIpeL1UXDLRD7fcjmKhUopKX5bwDFBVnmOk9NMpnMJqeTmJ8Y9SVuiIsMN7orDQMAS7SCGe6lp18xarQEhCkw"
}

response = requests.get(url, headers=headers)

data = response.json()
df = pd.json_normalize(data)
display(df)

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Enterprise,France,Carretera,High,2441.0,3,125,305125.0,33563.75,271561.25,292920.0,-21358.75,2014-10-01,10,October,2014
696,Midmarket,Canada,Carretera,High,1560.0,3,15,23400.0,2574.00,20826.00,15600.0,5226.00,2013-11-01,11,November,2013
697,Government,Mexico,Carretera,High,2706.0,3,7,18942.0,2083.62,16858.38,13530.0,3328.38,2013-11-01,11,November,2013
698,Government,Germany,Montana,High,766.0,5,350,268100.0,29491.00,238609.00,199160.0,39449.00,2014-01-01,1,January,2014
699,Government,Germany,Montana,High,2992.0,5,20,59840.0,6582.40,53257.60,29920.0,23337.60,2013-10-01,10,October,2013

### Criando uma consulta direto via api data.world

In [122]:
payload = { "query": "select * from financial_sample" }
payload

{'query': 'select * from financial_sample'}

In [123]:
import requests

url = "https://api.data.world/v0/sql/jcnok/financial-sample?dialect=DW_SQL"

# payload = { "query": "select * from financial_sample" }
headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "authorization": f'Bearer {DW_API_TOKEN}'
}

response = requests.post(url, json=payload, headers=headers)

data = response.json()
df = pd.json_normalize(data)
display(df)

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014