## Passo 1: Instalação da Biblioteca

Antes de mergulhar de cabeça na integração, é necessário instalar a biblioteca Power BI para Python. Você pode fazer isso facilmente executando o seguinte comando no seu Jupyter Notebook:

In [1]:
!poetry add install powerbiclient

The following packages are already present in the pyproject.toml and will be skipped:

  • install
  • powerbiclient

If you want to update it to the latest compatible version, you can use `poetry update package`.
If you prefer to upgrade it to the latest available version, you can use `poetry add package@latest`.

Nothing to add.

## Passo 2: Carregando as Bibliotecas Necessárias

Depois de instalar a biblioteca Power BI, importe as bibliotecas necessárias no seu notebook:

In [1]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication
import pandas as pd

## Passo 3: Carregando os Dados

Carregar seus dados é um passo fundamental. Neste exemplo, carregamos um arquivo Excel como um DataFrame:

In [2]:
!poetry add openpyxl -q

In [2]:
df = pd.read_excel('Financial Sample.xlsx')  # Certifique-se de que o arquivo esteja no diretório raiz

### Visualizando as 5 primeiras linhas do dataframe.

In [3]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

## Passo 4: Autenticação com a Conta do Power BI

Para interagir com o Power BI, você precisa autenticar sua conta. Utilizaremos a autenticação com código de dispositivo, o que torna o processo seguro e conveniente:

In [4]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code EER5ZCCXQ to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

Siga as instruções para copiar o código gerado e cole-o após acessar o link fornecido. Isso autentica sua conta do Power BI.

## Passo 5: Visualizando seus Dados no Power BI

Agora que seus dados estão prontos e você está autenticado, é hora de criar visualizações no Power BI. O código a seguir faz exatamente isso:

In [5]:
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

## Passo 6: Renderizando o Relatório

Agora você pode renderizar o relatório diretamente no Jupyter Notebook:

In [6]:
PBI_visualize

QuickVisualize()

In [10]:
# Credenciais do Power BI
group_id="24041EF3-E463-4027-A5E6-85DFF3296BF9"
report_id="c252dcb3-8f09-4285-9f09-096a6d814147"

In [15]:
# Instantiate report object with authentication object (e.g DeviceCodeLoginAuthentication)
report = Report(group_id=group_id, report_id=report_id, auth=device_auth)

#Necessário instalar caso ocorram problemas segundo o link https://github.com/matplotlib/ipympl/issues/112:
pip install jupyterlab
pip install ipympl
curl -sL https://deb.nodesource.com/setup_12.x | bash -
apt install nodejs
jupyter labextension install @jupyter-widgets/jupyterlab-manager
jupyter labextension install jupyter-matplotlib

# o que eu fiz no terminal .env para que o embed funcionasse corretamente:
$ sudo apt install npm
$ jupyter labextension install @jupyter-widgets/jupyterlab-manager jupyter-matplotlib

In [ ]:
!pip install --upgrade pip
!pip install -U jupyterlab ipywidgets jupyterlab-widgets

In [ ]:
!pip install ipympl==0.9.3

In [9]:
!poetry add pandas

Using version ^2.2.2 for pandas

Updating dependencies
Resolving dependencies... (0.9s)

No dependencies to install or update

Writing lock file

In [10]:
!pip install jupyterlab-widgets==1.1.1

Requirement already satisfied: jupyterlab-widgets==1.1.1 in /home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages (1.1.1)

In [ ]:
!pip install ipywidgets==7.7

In [ ]:
!pip install powerbiclient
!jupyter labextension install @jupyter-widgets/jupyterlab-manager

In [ ]:
!jupyter nbextension enable --py [--sys-prefix|--user|--system] powerbiclient

# Passos para executar fórmulas DAX no Jupyter Notebook

## 1.Importar as bibliotecas:

In [2]:
# Credenciais do Power BI
# workspace_id = 'seu_workspace_id'  # Substitua pelo seu Workspace ID
# group_id = 'seu_group_id'  # Substitua pelo seu Group ID
report_id = '247db1d9-285d-4071-94df-9817bff0d9aa'  # Substitua pelo seu Report ID

## 2. Realizar a autenticação no Power Bi:

In [7]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code E9KD24TDQ to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

## 2. Obter o token de acesso:

In [8]:
token = device_auth.get_access_token()
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {token}'
}

## 3. Enviar as consulta DAX:

* **Defina a URL da consulta:**

In [11]:
dataset_id = '0a992292-09c2-45c6-bc9a-f9a66a8ccdc5'
url = f'https://api.powerbi.com/v1.0/myorg/datasets/{dataset_id}/executeQueries'

* **Defina a Consulta DAX:**

In [12]:
dax_query = {
    "queries": [
        {
            "query": "EVALUATE SUMMARIZECOLUMNS('Table'[Product])"
        }
    ],
    "serializerSettings": {
        "includeNulls": True
    }
}

* **Envie a Consulta e Obtenho os resultados**:

In [13]:
response = requests.post(url, headers=headers, json=dax_query)
response_data = response.json()

## 4. Processar os resultados:

* **Convertendo o resultado em um DataFrame do Pandas:**

In [14]:
results = response_data['results'][0]['tables'][0]['rows']
df = pd.DataFrame(results)
display(df)

  Table[Product]
0      Carretera
1        Montana
2          Paseo
3           Velo
4            VTT
5       Amarilla

link da documentação:[documentação]('https://learn.microsoft.com/en-us/rest/api/power-bi/datasets/execute-queries')

# Integração do data.world com python:

## Instalação da biblioteca:

In [16]:
!pip install datadotworld -q

## Configuração:

### Esta biblioteca requer um token de autenticação da API data.world para funcionar.
Seu token de autenticação pode ser obtido no data.world depois que você habilitar o [Python em Integrações]('https://data.world/integrations/python')

* **Para configurar a biblioteca, execute o seguinte comando:**

$ dw configure

* Alternativamente, os tokens podem ser fornecidos por meio da variável de ambiente DW_AUTH_TOKEN . Em máquinas MacOS ou Unix, execute (substituindo <YOUR_TOKEN>> abaixo pelo token obtido anteriormente):
`export DW_AUTH_TOKEN=<YOUR_TOKEN>`

### Carregar um conjunto de dados

In [19]:
import datadotworld as dw

In [22]:
intro_dataset = dw.load_dataset('jcnok/financial-sample')

In [23]:
intro_dataset.dataframes

LazyLoadedDict({'financial_sample': LazyLoadedValue(<pandas.DataFrame>)})

* **Você também pode revisar os metadados associados a um arquivo ou ao conjunto de dados inteiro, usando a função describe . Por exemplo:**

In [24]:
intro_dataset.describe()

{'name': 'jcnok_financial-sample',
 'title': 'Financial Sample',
 'description': 'O conjunto de dados "financial sample.xlsx" é um arquivo que contém informações financeiras.\n\n---\n{"editor":"markdown"}\n---\nAqui estão as colunas do conjunto de dados e suas respectivas descrições:\n\n1. **Segment (Segmento)**\n   - Descrição: O segmento de mercado ao qual o produto pertence.\n   \n2. **Country (País)**\n   - Descrição: O país onde a venda foi realizada.\n\n3. **Product (Produto)**\n   - Descrição: O nome do produto vendido.\n\n4. **Discount Band (Banda de Desconto)**\n   - Descrição: Corresponde a classificação do desconto, High(alto), Medium(médio), Low(baixo), None(sem desconto)\n\n5. **Units Sold (Unidades Vendidas)**\n   - Descrição: O número de unidades do produto vendidas.\n\n6. **Manufacturing Price (Preço de Fabricação)**\n   - Descrição: O custo de fabricação de uma unidade do produto.\n\n7. **Sale Price (Preço de Venda)**\n   - Descrição: O preço de venda de uma unidade do produto.\n\n8. **Gross Sales (Vendas Brutas)**\n   - Descrição: A receita bruta gerada pelas vendas (Unidades Vendidas * Preço de Venda).\n\n9. **Discounts (Descontos)**\n   - Descrição: O valor total de descontos aplicados às vendas.\n\n10. **Sales (Vendas)**\n    - Descrição: A receita líquida gerada pelas vendas (Vendas Brutas - Descontos).\n\n11. **COGS (Custo dos Produtos Vendidos)**\n    - Descrição: O custo dos produtos vendidos, é o custo total de fabricação ou compra de um produto que uma empresa vende. Inclui o custo dos materiais, mão de obra e outras despesas diretamente relacionadas à produção do produto.\n\n12. **Profit (Lucro)**\n    - Descrição: O lucro gerado pelas vendas (Vendas - Custo dos Bens Vendidos).\n\n13. **Date (Data)**\n    - Descrição: A data em que a venda foi realizada.\n    \n14. **Month Number (Mês em Número)**\n    - Descrição: Mês em número em que a venda foi realizada.\n    \n15. **Month Name (Mês)**\n    - Descrição: Mês em que a venda foi realizada.\n\n16. **Year (Ano)**\n    - Descrição: Ano em que a venda foi realizada.',
 'homepage': 'https://data.world/jcnok/financial-sample',
 'resources': [{'name': 'financial_sample',
   'path': 'data/financial_sample.csv',
   'format': 'csv',
   'profile': 'data-resource'},
  {'name': 'original/Financial Sample.xlsx',
   'path': 'original/Financial Sample.xlsx',
   'format': 'xlsx',
   'mediatype': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
   'bytes': 83418,
   'profile': 'data-resource'}],
 'profile': 'data-package'}

### Consultar um conjunto de dados:

* A função query() permite que conjuntos de dados sejam consultados ao vivo usando linguagens de consulta SQL ou SPARQL .

* Para consultar um conjunto de dados, invoque a função query() . Por exemplo:

In [29]:
results = dw.query('jcnok/financial-sample', 'SELECT * FROM financial_sample')

In [30]:
results.dataframe

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

Documentação da API: [Datadotworld]('https://pypi.org/project/datadotworld/')

# Passos para integrar data.world com Power BI no Jupyter Notebook

## 1. Configurar a API do data.world:

* Primeiro, você precisará de um token de API do data.world. Você pode obter isso acessando sua conta no data.world e navegando até as configurações de API.
* Em seguida, defina seu token de API:

In [70]:
DW_API_TOKEN = "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Ompjbm9rIiwiaXNzIjoiYWdlbnQ6amNub2s6OjI2ZjlmOWJiLWIyMWYtNDA2NC1hZjg2LWU5YzUwYzVjYzk4NyIsImlhdCI6MTcxNjMyNjY5Miwicm9sZSI6WyJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlLCJzYW1sIjp7fX0.jRIpeL1UXDLRD7fcjmKhUopKX5bwDFBVnmOk9NMpnMJqeTmJ8Y9SVuiIsMN7orDQMAS7SCGe6lp18xarQEhCkw"

## 2. Importar as bibliotecas necessárias:

In [32]:
import requests
import pandas as pd
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from powerbiclient import Report, models

## 3. Autenticar no Power BI:

In [33]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code FXYFJJTCF to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

## 4. Obter dados do data.world:

### Conhecendo o dataset:

In [150]:
import requests

url = "https://api.data.world/v0/datasets/jcnok/financial-sample"

headers = {
    "accept": "application/json",
    "authorization": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Ompjbm9rIiwiaXNzIjoiYWdlbnQ6amNub2s6OjI2ZjlmOWJiLWIyMWYtNDA2NC1hZjg2LWU5YzUwYzVjYzk4NyIsImlhdCI6MTcxNjMyNjY5Miwicm9sZSI6WyJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlLCJzYW1sIjp7fX0.jRIpeL1UXDLRD7fcjmKhUopKX5bwDFBVnmOk9NMpnMJqeTmJ8Y9SVuiIsMN7orDQMAS7SCGe6lp18xarQEhCkw"
}

response = requests.get(url, headers=headers)

print(response.json()['summary'])

---
{"editor":"markdown"}
---
Aqui estão as colunas do conjunto de dados e suas respectivas descrições:

1. **Segment (Segmento)**
   - Descrição: O segmento de mercado ao qual o produto pertence.

2. **Country (País)**
   - Descrição: O país onde a venda foi realizada.

3. **Product (Produto)**
   - Descrição: O nome do produto vendido.

4. **Discount Band (Banda de Desconto)**
   - Descrição: Corresponde a classificação do desconto, High(alto), Medium(médio), Low(baixo), None(sem desconto)

5. **Units Sold (Unidades Vendidas)**
   - Descrição: O número de unidades do produto vendidas.

6. **Manufacturing Price (Preço de Fabricação)**
   - Descrição: O custo de fabricação de uma unidade do produto.

7. **Sale Price (Preço de Venda)**
   - Descrição: O preço de venda de uma unidade do produto.

8. **Gross Sales (Vendas Brutas)**
   - Descrição: A receita bruta gerada pelas vendas (Unidades Vendidas * Preço de Venda).

9. **Discounts (Descontos)**
   - Descrição: O valor total de descontos aplicados às vendas.

10. **Sales (Vendas)**
    - Descrição: A receita líquida gerada pelas vendas (Vendas Brutas - Descontos).

11. **COGS (Custo dos Produtos Vendidos)**
    - Descrição: O custo dos produtos vendidos, é o custo total de fabricação ou compra de um produto que uma empresa vende. Inclui o custo dos materiais, mão de obra e outras despesas diretamente relacionadas à produção do produto.

12. **Profit (Lucro)**
    - Descrição: O lucro gerado pelas vendas (Vendas - Custo dos Bens Vendidos).

13. **Date (Data)**
    - Descrição: A data em que a venda foi realizada.

14. **Month Number (Mês em Número)**
    - Descrição: Mês em número em que a venda foi realizada.

15. **Month Name (Mês)**
    - Descrição: Mês em que a venda foi realizada.

16. **Year (Ano)**
    - Descrição: Ano em que a venda foi realizada.

* Defina a URL e os cabeçalhos da solicitação:

In [151]:
url = "https://api.data.world/v0/sql/jcnok/financial-sample?dialect=DW_SQL"
headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "authorization": f'Bearer {DW_API_TOKEN}'
}

* Defina a consulta SQL que deseja executar:

In [152]:
query = {'query':'SELECT * FROM financial_sample'}

* Envie a solicitação e obtenha os resultados:

In [153]:
response = requests.post(url, json=payload, headers=headers)

data = response.json()
df = pd.json_normalize(data)
display(df)

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Channel Partners,Canada,Montana,None,2518.0,5,12,30216.0,0.00,30216.00,7554.0,22662.00,2014-06-01,6,June,2014
4,Government,France,Montana,None,1899.0,5,20,37980.0,0.00,37980.00,18990.0,18990.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Enterprise,France,Carretera,High,2441.0,3,125,305125.0,33563.75,271561.25,292920.0,-21358.75,2014-10-01,10,October,2014
696,Midmarket,Canada,Carretera,High,1560.0,3,15,23400.0,2574.00,20826.00,15600.0,5226.00,2013-11-01,11,November,2013
697,Government,Mexico,Carretera,High,2706.0,3,7,18942.0,2083.62,16858.38,13530.0,3328.38,2013-11-01,11,November,2013
698,Government,Germany,Montana,High,766.0,5,350,268100.0,29491.00,238609.00,199160.0,39449.00,2014-01-01,1,January,2014
699,Government,Germany,Montana,High,2992.0,5,20,59840.0,6582.40,53257.60,29920.0,23337.60,2013-10-01,10,October,2013

## 5. Incorporar o dataframe no Power BI:

* **Carregando as bibliotecas:**

In [155]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication
import pandas as pd

* **Criando uma visualização de forma automática com o QuickVisualize**:

In [156]:
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)
PBI_visualize

QuickVisualize()

* **Clique no ícone de salvar para salver o dash no powerbi online:**

In [158]:
PBI_visualize

QuickVisualize()

In [175]:
from powerbiclient import IVisualLoadConfiguration

ImportError: cannot import name 'IVisualLoadConfiguration' from 'powerbiclient' (/home/jcnok/bootcamps/competicao_DIO/Integracao-Jupyter-com-Power-BI/.venv/lib/python3.12/site-packages/powerbiclient/__init__.py)

In [163]:
# Obter o token de acesso
token = device_auth.get_access_token()
headers = {
    'Content-Type': 'application/json',
    'Authorization': f'Bearer {token}'
}

In [167]:
group_id = 'me'  # Substitua pelo ID do seu workspace

In [170]:
url = f'https://api.powerbi.com/v1.0/myorg/groups/reports'

In [171]:
# Enviar solicitação para listar os relatórios
response = requests.get(url, headers=headers)
reports = response.json()

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

### Criando e Salvando uma consulta no data.world

In [99]:
import requests

url = "https://api.data.world/v0/datasets/jcnok/financial-sample/queries"

payload = {
    "language": "SQL",
    "content": "select * from financial_sample",
    "description": "consultando todo o dataset",
    "name": "select_all"
}
headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "authorization": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Ompjbm9rIiwiaXNzIjoiYWdlbnQ6amNub2s6OjI2ZjlmOWJiLWIyMWYtNDA2NC1hZjg2LWU5YzUwYzVjYzk4NyIsImlhdCI6MTcxNjMyNjY5Miwicm9sZSI6WyJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlLCJzYW1sIjp7fX0.jRIpeL1UXDLRD7fcjmKhUopKX5bwDFBVnmOk9NMpnMJqeTmJ8Y9SVuiIsMN7orDQMAS7SCGe6lp18xarQEhCkw"
}

response = requests.post(url, json=payload, headers=headers)

response.json()

{'id': '4a439585-dcce-4119-b811-fe85008f672a',
 'owner': 'jcnok',
 'language': 'SQL',
 'name': 'select_all',
 'body': 'select * from financial_sample',
 'description': 'consultando todo o dataset',
 'version': 'd74bdd17-1',
 'created': '2024-06-26T03:43:40.357955320Z',
 'updated': '2024-06-26T03:43:40.353954331Z',
 'parameters': {}}

### Recuperando a consulta sql salva no data.world.

In [96]:
import requests

url = "https://api.data.world/v0/queries/d2c46d5a-d4c5-4e7a-8387-9963e556d914/results"

headers = {
    "accept": "application/json",
    "authorization": "Bearer eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJwcm9kLXVzZXItY2xpZW50Ompjbm9rIiwiaXNzIjoiYWdlbnQ6amNub2s6OjI2ZjlmOWJiLWIyMWYtNDA2NC1hZjg2LWU5YzUwYzVjYzk4NyIsImlhdCI6MTcxNjMyNjY5Miwicm9sZSI6WyJ1c2VyX2FwaV9yZWFkIiwidXNlcl9hcGlfd3JpdGUiXSwiZ2VuZXJhbC1wdXJwb3NlIjp0cnVlLCJzYW1sIjp7fX0.jRIpeL1UXDLRD7fcjmKhUopKX5bwDFBVnmOk9NMpnMJqeTmJ8Y9SVuiIsMN7orDQMAS7SCGe6lp18xarQEhCkw"
}

response = requests.get(url, headers=headers)

data = response.json()
df = pd.json_normalize(data)
display(df)

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Enterprise,France,Carretera,High,2441.0,3,125,305125.0,33563.75,271561.25,292920.0,-21358.75,2014-10-01,10,October,2014
696,Midmarket,Canada,Carretera,High,1560.0,3,15,23400.0,2574.00,20826.00,15600.0,5226.00,2013-11-01,11,November,2013
697,Government,Mexico,Carretera,High,2706.0,3,7,18942.0,2083.62,16858.38,13530.0,3328.38,2013-11-01,11,November,2013
698,Government,Germany,Montana,High,766.0,5,350,268100.0,29491.00,238609.00,199160.0,39449.00,2014-01-01,1,January,2014
699,Government,Germany,Montana,High,2992.0,5,20,59840.0,6582.40,53257.60,29920.0,23337.60,2013-10-01,10,October,2013

### Criando uma consulta direto via api data.world

In [122]:
payload = { "query": "select * from financial_sample" }
payload

{'query': 'select * from financial_sample'}

In [123]:
import requests

url = "https://api.data.world/v0/sql/jcnok/financial-sample?dialect=DW_SQL"

# payload = { "query": "select * from financial_sample" }
headers = {
    "accept": "application/json",
    "content-type": "application/json",
    "authorization": f'Bearer {DW_API_TOKEN}'
}

response = requests.post(url, json=payload, headers=headers)

data = response.json()
df = pd.json_normalize(data)
display(df)

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discounts,sales,cogs,profit,date,month_number,month_name,year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014